:host{
  padding: 5px;
  display: grid;
  grid-auto-rows: min-content;
}
// Card base style
* {
  box-sizing: border-box;
}

.card {
  max-width: calc(100vw - 10px);
  position: relative;
  padding: 15px 10px;
  background-color: gray;
  margin-bottom: 10px;
}

.grid-area {
  position: relative;
  background-color: #fff; // text-align: center;
}

.card-thumbnail {
  padding-top: 100%;
  position: relative;
  height: 0;
  img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.grid-area_b {
  padding: 5px;
  .card-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .card-submit {
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 5px;
    color: #666;
  }
}

.card-rating {
  padding: 5px;
  font-size: 12px;
  color: gray;
  &.card-rating-1 {
    i:nth-child(-n+1) {
      color: orange;
    }
  }
  &.card-rating-2 {
    i:nth-child(-n+2) {
      color: orange;
    }
  }
  &.card-rating-3 {
    i:nth-child(-n+3) {
      color: orange;
    }
  }
  &.card-rating-4 {
    i:nth-child(-n+4) {
      color: orange;
    }
  }
  &.card-rating-5 {
    i:nth-child(-n+5) {
      color: orange;
    }
  }
}

.card-label {
  padding: 5px;
  font-size: 0;
  span {
    display: inline-block;
    color: #ff5000;
    border: 1px solid #ff5000;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 3px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.grid-area_d {
  padding: 5px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #dedede;
  width: 100%;
}

.card-price {
  color: #ff5000;
  font-weight: 900;
}

button {
  background: #ff5000;
  color: #fff;
  padding: 5px 10px;
  border: none 0;
  border-radius: 3px;
  font-size: 12px;
}

// mobile layout
body {
  padding: 5px;
  display: grid;
  grid-auto-rows: min-content;
}

.card {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 33% calc(67% - 55px) 55px;
  grid-auto-rows: min-content;
}

.grid-area_a {
  grid-row: 1 / span 2;
  grid-column: 1; // background-color: green;
}

.grid-area_b {
  grid-row: 1;
  grid-column: 2 / span 2; // background-color: orange;
}

.grid-area_c {
  grid-row: 2;
  grid-column: 2 / span 2; // background-color: lime;
}

.grid-area_d {
  grid-row: 3;
  grid-column: 1 / span 3; // background-color: yellow;
}

@media only screen and (min-width: 768px) {
  :host {
    grid-template-columns: repeat(4, auto);
  }
  .card {
    max-width: 400px;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 100%;
    margin: 5px;
  }
  .grid-area {
    grid-column: 1;
  }
  .grid-area_a {
    grid-row: 1;
  }
  .grid-area_b {
    grid-row: 2;
  }
  .grid-area_c {
    grid-row: 3;
  }
  .grid-area_d {
    grid-row: 4;
  }
  .grid-area_d {
    flex-direction: row;
  }
}
