<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-area grid-area_a grid-thumbnail">
    <div class="card-thumbnail">
      <img src="assets/images/1.jpg" alt="">
    </div>
  </div>
  <div class="grid-area grid-area_b">
    <h3 class="card-title">烤尾巴吃得香</h3>
    <div class="card-submit">不要担心，很快就长出来了</div>
    <div class="card-rating card-rating-2">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="grid-area grid-area_c">
    <div class="card-label">
      <span>爆款促销</span>
      <span>淘金币抵2%</span>
    </div>
  </div>
  <div class="grid-area grid-area_d">
    <div class="card-price">$1999.00</div>
    <div class="card-action">
      <button>立即购买</button>
    </div>
  </div>
</div>
