.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background: pink;
  padding: 10px;
  margin: 10px;
  min-height: 300px;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  li {
    // flex:1 0 50%;
  }
}

// 支持 display: contents的浏览器，采用的是这段代码
@supports (display: contents) {
  .feed ul,
  .feed li {
    display: contents;
  }
  .card {
    flex: 1 0 40%;
  }
}

// 不支持display:contents的浏览器，采用下面这段代码
@supports not (display: contents) {
  .feed li {
    flex: 1 0 50%;
  }
  .feed li.nested {
    flex-basis: 100%;
  }
  .feed li.nested ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.chat {
  background: #fff;
  border: 10px solid #000;
  bottom: 0;
  font-size: 10px;
  position: fixed;
  right: 0;
  width: 300px;
  z-index: 1001;
  contain: paint;
}

.messages {
  border-bottom: 5px solid #000;
  overflow: auto;
  padding: 10px;
  max-height: 300px;
  max-height: 0;
  padding: 0;
  transition: max-height 500ms;
}

.message {
  background: #000;
  border-radius: 5px;
  color: #fff;
  margin: 0 20% 10px 0;
  padding: 10px;
}

.messages li:last-child .message {
  margin-bottom: 0;
}

.input {
  border: none;
  display: block;
  padding: 10px;
  width: 100%;
}

.prompt {
  line-height: 2em;
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  text-align: right;
  transition: max-height 500ms;
}

.message--mine {
  background: #ff2089;
  margin-left: 20%;
  margin-right: 0;
}

.message--mine::after {
  content: attr(data-timestamp);
}

.message--mine:hover::after {
  background: #000;
  color: #ff2089;
  content: attr(data-timestamp);
  left: 0;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}

.input:not(:placeholder-shown)+.prompt {
  max-height: 2em;
}

.messages {
  overscroll-behavior-y: contain;
}

//类似于focus事件
.chat:focus-within .messages {
  max-height: 300px;
  padding: 10px;
}

.chat:focus-within~.container {
  filter: blur(5px)
}
