<ul class="nav justify-content-end">
  <li class="nav-item" routerLink="/gps/index" routerLinkActive="active">
    <a class="nav-link">Index</a>
  </li>
  <li class="nav-item" routerLink="/gps/one" routerLinkActive="active">
    <a class="nav-link">Route-one</a>
  </li>

  <li class="nav-item" routerLink="/gps/two/1" routerLinkActive="active">
    <a class="nav-link">Route-two-first</a>
  </li>
  <li class="nav-item" [routerLink]="['/gps/two',1]" routerLinkActive="active">
    <a class="nav-link">Route-two-secont</a>
  </li>

  <li class="nav-item" routerLink="/gps/three" (click)=" goToPage()" routerLinkActive="active">
    <a class="nav-link">Route-three</a>
  </li>

  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
<router-outlet></router-outlet>
