<section>
  <h4>Scroll to see the sticky element <em>sticking</em></h4>
  <div class="extra"></div>
  <br />
  <div id="wrapper">
    <div id="sticky">
      sticky
    </div>
  </div>
  <br />
  <div class="extra"></div>
</section>


<section>
  <div class="emptyBlocks"></div>

  <article>
    <div class="category">REPTILES AND AVES</div>
    <h1 class="title">King Cobra</h1>
    <p>The king cobra was described and drawn by the Danish naturalist Theodore Edward Cantor in 1836, who gave it the
      scientific name Hamadryas hannah. Cantor had three specimens from the Sundarbans and one caught in the vicinity
      of
      Kolkata. It was subordinated
      to the genus Ophiophagus by Albert Günther in 1864.</p>
    <p>Ophiophagus hannah belongs to the monotypic genus Ophiophagus in the family Elapidae, while most other cobras
      are
      members of the genus Naja. They can be distinguished from other cobras by size and hood. King cobras are
      generally
      larger than other cobras,
      and the stripe on the neck is a chevron instead of a double or single eye shape that may be seen in most of the
      other Asian cobras. Moreover, the hood of the king cobra is narrower and longer. A key to identification, clearly
      visible on the head, is
      the presence of a pair of large scales known as occipitals, located at the back of the top of the head. These are
      behind the usual "nine-plate" arrangement typical of colubrids and elapids, and are unique to the king cobra.</p>
    <p class="tallScreenText">The skin of king cobra is dark olive or brown with black bands and white or yellow
      crossbands. The head is black with two crossbars near the snout and two behind the eyes. Adult king cobras are
      3.18
      to 4 m (10.4 to 13.1 ft) long. The longest known individual measured 5.85 m (19.2 ft). Its belly is cream or pale
      yellow. It has 17 to 19 rows of smooth scales. Ventral scales are uniformly oval shaped. Dorsal scales are placed
      in an oblique arrangement. Males have 235 to 250 ventral scales, while females have 239 to 265. The subcaudal
      scales are single or paired in each row, numbering 83 to 96 in males and 77 to 98 in females.</p>
    <p class="tallScreenText">Juveniles are shiny black with narrow yellow bands (can be mistaken for a banded krait,
      but
      readily identified with its expandable hood). The head of a mature snake can be quite massive and bulky in
      appearance, though like all snakes, it can expand its jaws to swallow large prey items. It has proteroglyph
      dentition, meaning it has two short, fixed fangs in the front of the mouth, which channel venom into the prey
      like
      hypodermic needles. The average lifespan of a wild king cobra is about 20 years.</p>
    <div class="footer">
      <p>All the text on the articles in this page have been copy-pasted from Wikipedia :)</p>
    </div>
  </article>

  <article>
    <div class="category">REPTILES AND AVES</div>
    <h1 class="title">Swan</h1>
    <p>Swans are birds of the family Anatidae within the genus Cygnus. The swans' close relatives include the geese and
      ducks. Swans are grouped with the closely related geese in the subfamily Anserinae where they form the tribe
      Cygnini. Sometimes, they are
      considered a distinct subfamily, Cygninae. There are six or seven living (and one extinct) species of swan in the
      genus Cygnus; in addition, there is another species known as the coscoroba swan, although this species is no
      longer
      considered one of the
      true swans. Swans usually mate for life, although “divorce” sometimes occurs, particularly following nesting
      failure, and if a mate dies, the remaining swan will take up with another. The number of eggs in each clutch
      ranges
      from three to eight.</p>
    <div class="footer">
      <p>Fonts used in these articles are <q>Crimson Text</q> and <q>Titan One</q> (for the title).</p>
    </div>
  </article>

  <div class="emptyBlocks"></div>
</section>



<section>
  <main>
    <h1>Watermelon</h1>
    <p>Citrullus lanatus is a plant species in the family Cucurbitaceae, a vine-like (scrambler and trailer) flowering
      plant originally from Africa. It is cultivated for its fruit. The subdivision of this species into two varieties,
      watermelons (Citrullus lanatus
      (Thunb.) var. lanatus) and citron melons (Citrullus lanatus var. citroides (L. H. Bailey) Mansf.), originated
      with
      the erroneous synonymization of Citrullus lanatus (Thunb.) Matsum. & Nakai and Citrullus vulgaris Schrad. by L.H.
      Bailey in 1930. Molecular
      data including sequences from the original collection of Thunberg and other relevant type material, show that the
      sweet watermelon (Citrullus vulgaris Schrad.) and the bitter wooly melon Citrullus lanatus (Thunb.) Matsum. &
      Nakai
      are not closely related
      to each other. Since 1930, thousands of papers have misapplied the name Citrullus lanatus (Thunb.) Matsum. &
      Nakai
      for the watermelon, and a proposal to conserve the name with this meaning was accepted by the relevant
      nomenclatural committee and confirmed
      at the International Botanical Congress in Shenzhen.</p>
    <p>The bitter South African melon first collected by Thunberg has become naturalized in semiarid regions of several
      continents, and is designated as a "pest plant" in parts of Western Australia where they are called pig melon.</p>
    <p>Watermelon (Citrullus lanatus) is a scrambling and trailing vine in the flowering plant family Cucurbitaceae.
      The
      species was long thought to have originated in southern Africa, but this was based on the erroneous
      synonymization
      by L. H. Bailey (1930)
      of a South African species with the cultivated watermelon. The error became apparent with DNA comparison of
      material of the cultivated watermelon seen and named by Linnaeus and the holotype of the South African species.
      There is evidence from seeds
      in Pharao tombs of watermelon cultivation in Ancient Egypt. Watermelon is grown in tropical and subtropical areas
      worldwide for its large edible fruit, also known as a watermelon, which is a special kind of berry with a hard
      rind
      and no internal division,
      botanically called a pepo. The sweet, juicy flesh is usually deep red to pink, with many black seeds, although
      seedless varieties have been cultivated. The fruit can be eaten raw or pickled and the rind is edible after
      cooking.</p>
    <p>Considerable breeding effort has been put into disease-resistant varieties. Many cultivars are available that
      produce mature fruit within 100 days of planting the crop.</p>
  </main>
  <footer>
    The above texts are from the Wikipedia page for "Watermelon"<br>
    &#x1F349;
  </footer>
</section>
